@font-face {
	font-family: "Saira";
	src: url(assets/font/Saira-VariableFont_wdth\,wght.ttf),
			 url(assets/font/Saira-VariableFont_wdth_wght.woff);
}

@font-face {
	font-family: "Saira-Italic";
	src: url(assets/font/Saira-Italic-VariableFont_wdth\,wght.ttf),
			 url(assets/font/Saira-Italic-VariableFont_wdth_wght.woff);
}

@font-face {
	font-family: "Semakin";
	src: url(assets/font/Semakin.ttf),
			 url(assets/font/Semakin.woff);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--light: rgba(255,255,255, 1);
}

body, html {
	height: 100%;

	background-image: url(assets/img/BG.jpg);
	background-size: cover;

	font-family: "Saira";
	font-size: 24px;
	color: var(--light);
} 

h1 {
	font-family: "Semakin";
	font-size: 90px;
}

h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: 72px;
	font-weight: 550;
}

header {
	height: 100px;
	
	display: flex;
	justify-content: space-between;

	margin: 1rem 3rem;

	.branding {
		display: flex;
		justify-content: start;
		align-items: center;
		flex: 1;
		
		.logo {
			width: 110px;
			height: 110px;

			background-image: url(assets/img/logoJackson.png);
			background-size: 90%;
			background-repeat: no-repeat;
			background-position: center;
		}

		.brand {
			font-family: "Semakin";
			font-size: 48px;

			display: flex;
			text-align: center;
		}
	}

	nav {
		display: flex;
		flex: 1;
		
		.main-nav {
			font-family: "Saira";
			font-size: 24px;
			
			list-style: none;

			display: flex;
			flex: 1;
			justify-content: space-between;
			align-items: center;

			li {
				text-transform: uppercase;
				list-style: none;
				
				a {
					text-decoration: none;
					color: var(--light);
				}
			}
		}
	}
}

.hero-content {
	height: 140vh;
	margin-bottom: 10rem;

	
	.hero-title {
		margin-top: 8rem;
		padding-left: 5.75rem;
		margin-bottom: 3.5rem;
	}
	
	.hero-img {
		height: 1033.4481px;
		width: 1561.5584px;
		
		overflow: hidden;
		
		margin: auto;
		
		
		img {
			height: 1867.3636px;
			width: 1561.5584px;
			
			margin-top: -416px;
			margin-bottom: -416px;
		}
	}
}

/* ----------------------------------------------------------- BIOGRAPHY -------------------------------------------------------------- */

.biography-title {
		padding-bottom: 3rem;

	}

.biography {
	height: 270vh;
	
	.biography-part1 {
		margin-bottom: 10rem;
		display: flex;

		.biography-content1 {
			flex: 1;

			p {
				padding: 1rem 4rem .5rem 0rem;
			}
		}
	
		.biography-img1 {		
			text-align: center;
	
			flex: 1;
			
		}

	}

	.biography-part2 {
		display: flex;
		
		.biography-content2 {
			flex: 1;

			justify-content: center;

			p {
				padding: .7rem 1rem .5rem 4rem;
			}
		}
	
		.biography-img2 {
			height: 1100px;
			flex: 1;

			text-align: center;
			
			img {
				height: 100%;
			}

		}
	}

	
}

/* ---------------------------- TIMELINE --------------------------------- */

.biography-timeline {
	height: 50vh;
	
	.timeline {
		border-top: 3px solid var(--light);
		position: relative;
		display: flex;
		margin-left: 3rem;
		margin-right: 3rem;

	}

	.timeline-item {
		flex: 1;

		text-align: center;

		.dot {
			position: relative;
			top: -11.5px;
			left: 47.5%;
			width: 15px;
			height: 20px;
			background-color: var(--light);
			border-radius: 50%;
		}

		.timeline-content > p {
			font-size: 30px;
			margin-bottom: .5rem;
		}

		.timeline-info p {
			line-height: 130%;
			font-size: 20px;
			margin-bottom: .5rem;
		}
	}
}

.interludio {
	height: 150vh;

	img {
		width: 100%;
	}

	p {
		text-align: center;
		font-size: 18px;
	}
}

/* -------------------------------------------------- ALBUMS ---------------------------------------------------------------------- */

.discography {
	height: 1000vh;
}

.discography-title {
	margin-bottom: 2.5%;
}

.latest-release {
	text-align: center;
	
	font-size: 40px;

	margin-bottom: 2rem;
}

/* ------------------ CLASES Y ESTILOS COMUNES EN ALBUMS Y SINGLES --------------------- */
/* Todos presentan estos estilos iguales */

.albums {
	display: flex;
	flex-direction: column;

	text-align: center;
}

.card {
	border: 2px solid var(--light);

	margin: auto;
	
	padding-left: 1rem;
	padding-right: 1rem;

	.card-img {
		border: 2px solid var(--light);
		display: flex;

		margin: auto;
	}

	/* Para el primer album (es más grande)*/
	.card-img-lg {
		height: 450px;
		width: 450px;
	}

	/* Para el resto de albums + los 2 primeros singles importantes */
	.card-img-md {
		height: 390px;
		width: 390px;
	}

	/* Para el resto de canciones */
	.card-img-sm {
		height: 330px;
		width: 330px;
	}

	/* Aquí uelven a presentar los mismos estilos */
	.card-title {
		margin: 1rem 1rem 1rem 0rem;
		font-size: 1.75rem;
		text-align: left;
		text-transform: uppercase;
	}

	.card-date {
		margin: .25rem .25rem .25rem 0rem;
		text-align: left;
	}
}

	.album-music {
	margin-bottom: 10rem;
}

.album-music iframe {
	margin-top: 2rem;
	padding: 0rem 1rem 0rem 1rem;
}

.albums-content {
		display: flex;
		flex-direction: column;

		margin-left: 5rem;
		margin-right: 7rem;

		text-align: left;
		justify-content: center;

		p {
			padding: 0.8rem;
		}
	}

/* ----------------------- MAGIC MAN 2 ------------------------ */

.magic2 {
	display: flex;
	flex: 1;

	margin: auto;
	margin-left: 12.5rem;		
}

/* --------------- MAGIC MAN, LOST&FOUND, MIRRORS ---------------------- */

.magic, .lostfound, .mirrors {
	display: flex;
	flex: 1;

	margin: auto;
	margin-left: 5rem;

	.card {
		margin-left: 7.5rem;	
	}
}


/* ---------------------------------------------- SINGLES -------------------------------------------------- */

.most-important-singles, .important-singles,.other-singles {
	display: flex;
	flex: 1;
	
	margin-bottom: 7rem;
	margin-top: 2rem;

	.single {
		display: flex;
		flex-direction: column;
		flex: 1;

		margin: auto;
		margin-left: 2rem;
		margin-right: 2rem;

		.single-music {
			display: flex;

			padding: 2rem;
		}

		.single-music iframe {
			margin: auto;
			
		}
	}
}

.single-titles {
	display: flex;
	margin-top: 3rem;
	
	p {
		font-size: 1.5rem;
		display: flex;
		flex: 1;
		justify-content: center;
	}
}




