@font-face {
	font-family: "Saira";
	src: url(assets/font/Saira-VariableFont_wdth\,wght.ttf),
			 url(assets/font/Saira-VariableFont_wdth_wght.woff);
}

@font-face {
	font-family: "Semakin";
	src: url(assets/font/Semakin.ttf),
			 url(assets/font/Semakin.woff);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--light: rgba(255,255,255, 1);
	--footer-color: rgba(156, 41, 41, 1);
	--carousel-width: 550px;
	--carousel-height: 550px;
}

body, html {
	height: 100%;

	background-image: url(assets/img/BG.jpg);
	background-size: cover;

	font-family: "Saira";
	font-size: 1.25rem;
	color: var(--light);
} 

h1 {
	font-family: "Semakin";
	font-size: clamp(0.75rem, -0.25rem + 88.889vw, 4.75rem);

	text-transform: uppercase;
}

h2 {
	font-size: clamp(0.75rem, -0.063rem + 72.222vw, 4rem);
	font-weight: 550;

	text-transform: uppercase;
	text-align: center;
}

h3 {
	font-size: 2.75rem;
	font-weight: 550;

	text-transform: uppercase;
	text-align: center;	
}

.burguer-img:hidden {
	height: 40px;
	width: 40px;
	background-image: url(assets/img/burguer.png);
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
}

header {
	height: 100px;
	
	display: flex;
	justify-content: space-between;

	margin: 1rem 3rem;

	.branding {
		display: flex;
		justify-content: start;
		align-items: center;
		flex: 2;
		
		.logo {
			width: 110px;
			height: 110px;

			background-image: url(assets/img/logoJackson.png);
			background-size: 90%;
			background-repeat: no-repeat;
			background-position: center;
		}

		.brand {
			font-family: "Semakin";
			font-size: 2.5rem;

			display: flex;
			text-align: center;
		}
	}

	nav {
		display: flex;
		flex: 2;
		
		.main-nav {
			font-family: "Saira";
			
			list-style: none;

			display: flex;
			flex: 1;
			justify-content: space-between;
			align-items: center;

			li {
				text-transform: uppercase;
				list-style: none;
				
				a {
					text-decoration: none;
					color: var(--light);
				}
			}
		}
	}
}

.hero-content {
	margin-bottom: 8rem;
	
	.hero-title {
		margin-top: 4.5rem;
		padding-left: 5.75rem;
		margin-bottom: 3.5rem;

		font-family: "Semakin";
		font-size: clamp(0.75rem, -0.25rem + 88.889vw, 4.75rem);

		text-transform: uppercase;
	}
	
	.hero-img {
		height: auto;
		width: 85%;
		
		margin: auto;

		display: block;
		object-fit: cover;
		object-position: center;
	}
}

/* ----------------------------------------------------------- BIOGRAPHY -------------------------------------------------------------- */

.biography-title {
		padding-bottom: 3rem;

	}

.biography {
	
	.biography-part1 {
		margin-bottom: 10rem;
		display: flex;
		
		.biography-content1 {
			flex: 1;

			flex-direction: column;

			justify-content: center;
			align-items: center;
			display: block;

			p {
				padding: 1rem 4rem .5rem 0rem;
			}
		}
	
		.biography-img1 {		
			flex: 1;

			
			img {
				height: auto;
				width: 75%;
				
				margin: auto;

				display: block;
				object-fit: cover;
				object-position: center;
			}
		}

	}

	.biography-part2 {
		display: flex;
		
		.biography-content2 {
			flex: 1;
			
			p {
				padding: 1rem 0rem .5rem 6rem;
			}
		}
		
		.biography-img2 {
			flex: 1;
			align-content: center;
			
			img {
				height: auto;
				width: 75%;
				
				margin: auto;

				display: block;
				object-fit: cover;
				object-position: center;
			}

		}
	}

	
}

/* ---------------------------- TIMELINE --------------------------------- */

.biography-timeline {
	padding: 7rem 0 12rem 0;
	
	.timeline {
		border-top: 3px solid var(--light);
		position: relative;
		display: flex;
		margin-left: 3rem;
		margin-right: 3rem;
	}

	.timeline-item {
		flex: 1;

		text-align: center;

		.dot {
			position: relative;
			top: -11.5px;
			left: 47.5%;
			width: 15px;
			height: 20px;
			background-color: var(--light);
			border-radius: 50%;
		}

		.timeline-content > p {
			font-size: 1.5rem;
			margin-bottom: .5rem;
		}

		.timeline-info p {
			line-height: 130%;
			font-size: 1rem;
			margin-bottom: .5rem;
		}
	}
}

.interludio {
	margin-bottom: 10rem;

	img {
		width: 100%;
	}

	p {
		text-align: center;
		font-size: 1rem;
	}
}

/* -------------------------------------------------- ALBUMS ---------------------------------------------------------------------- */

.discography-title {
	margin-bottom: 2.5%;
}

.latest-release {
	text-align: center;
	
	font-size: 2rem;

	margin-bottom: 2rem;
}

/* ------------------ CLASES Y ESTILOS COMUNES EN ALBUMS Y SINGLES --------------------- */
/* Todos presentan estos estilos iguales */

.albums {
	display: flex;
	flex-direction: column;

	text-align: center;
}

.card {
	border: 2px solid var(--light);

	margin: auto;
	
	padding-left: 1rem;
	padding-right: 1rem;

	.card-img {
		border: 2px solid var(--light);
		display: flex;

		margin: auto;
	}

	/* Para el primer album (es más grande)*/
	.card-img-lg {
		height: 450px;
		width: 450px;
	}

	/* Para el resto de albums + los 2 primeros singles importantes */
	.card-img-md {
		height: 390px;
		width: 390px;
	}

	/* Para el resto de canciones */
	.card-img-sm {
		height: 330px;
		width: 330px;
	}

	/* Aquí uelven a presentar los mismos estilos */
	.card-title {
		margin: 1rem 1rem 1rem 0rem;
		font-size: 1.75rem;
		text-align: left;
		text-transform: uppercase;
	}

	.card-date {
		margin: .25rem .25rem .25rem 0rem;
		text-align: left;
	}
}

	.album-music {
	margin-bottom: 10rem;
}

.album-music iframe {
	margin-top: 2rem;
	padding: 0rem 1rem 0rem 1rem;
}

.albums-content {
		display: flex;
		flex-direction: column;

		margin-left: 5rem;
		margin-right: 7rem;

		text-align: left;
		justify-content: center;

		p {
			padding: 0.8rem;
		}
	}

/* ----------------------- MAGIC MAN 2 ------------------------ */

.magic2 {
	display: flex;
	flex: 1;

	margin: auto;
	margin-left: 12.5rem;		
}

/* --------------- MAGIC MAN, LOST&FOUND, MIRRORS ---------------------- */

.magic, .lostfound, .mirrors {
	display: flex;
	flex: 1;

	margin: auto;
	margin-left: 5rem;

	.card {
		margin-left: 7.5rem;	
	}
}


/* ---------------------------------------------- SINGLES -------------------------------------------------- */

.most-important-singles, .important-singles,.other-singles {
	display: flex;
	flex: 1;
	
	margin-bottom: 7rem;
	margin-top: 2rem;

	.single {
		display: flex;
		flex-direction: column;
		flex: 1;

		margin: auto;
		margin-left: 2rem;
		margin-right: 2rem;

		.single-music {
			display: flex;

			padding: 2rem;
		}

		.single-music iframe {
			margin: auto;
			
		}
	}
}

.single-titles {
	display: flex;
	margin-top: 3rem;
	
	p {
		font-size: 1.5rem;
		display: flex;
		flex: 1;
		justify-content: center;
	}
}

/* --------------------------------- ON TOUR ------------------------------- */

.ontour {

	.rn-tour-title {
		font-size: 3rem;
		padding-top: 4rem;
	}

	.tour {
		display: flex;
		margin-top: 5rem;

		.magic2-tour-content {
			padding-right: 5rem;
		}

		.magic2-tour {
			padding-left: 2rem;
		}

		.magic2-tour, .magic2-tour-content {
			margin: auto;
			flex: 1;
			flex-direction: column;

			img {
				width: 85%;
				
				margin: auto;

				display: block;
				object-fit: cover;
				object-position: center;
			}

			.tour-content {
				margin-bottom: 1rem;
			}


			.tickets {
				display: flex;
				flex-direction: row;
				flex: 1;
				justify-content: space-between;
				margin-top: 2.5rem;

				

				.ticket{
					color: white;
				}
				
				.top-ticket{
					border: 1px solid var(--light);
					width: 250px;
					height: 250px;
					
					border-radius: 8px;

					display: flex;
					position: absolute;

					z-index: 1;
				}

				.top-ticket-philippines {
					background-image: url(assets/img/araneta-coliseum.jpg);
					background-repeat: no-repeat;
					background-size: 100%;
				}

				.top-ticket-tokyo {
					background-image: url(assets/img/toyota-tokyo.jpg);
					background-repeat: no-repeat;
					background-size: 100%;
				}

				.top-ticket-us {
					background-image: url(assets/img/intuit-dome.jpg);
					background-repeat: no-repeat;
					background-size: 100%;
				}

				.top-ticket-content {
					background-color: rgba(0, 0, 0, .75);
					font-size: .8rem;
					margin-top: 75%;

					display:flex;
					flex: 1;
					flex-direction: column;

					justify-content:center;
					align-items:center;

					
				}

				.bottom-ticket{
					border: 1px solid var(--light);
					width: 250px;
					height: 125px;
					border-radius: 8px;
					position: relative;
					transition:
						margin-left 0.4s ease-in-out,
						margin-top 0.3s ease-in-out 0.4s;
					margin-top: 50%;
					padding-top: 20px;
					text-align: center;
				}

				.ticket:hover .bottom-ticket{
					margin-top: 95%;
					transition:
						margin-top 0.4s ease-in-out,
						margin-left 0.3s ease-in-out 0.4s;
				}

				.bottom-ticket-title {
					font-size: 1rem;
					font-weight: bold;
				}

				.bottom-ticket-content {
					font-size: .75rem;
				}


				/* Esto es lo del - 1 + */


				.ticket-wrapper {
					display: flex;
					flex-direction: row;
					justify-content: center;
				}

				.ticket-counter {
					display: flex;
					flex-direction: row;
					gap: 15px;
					padding: .25rem;
					background: #666;
					border-radius: .75rem;
				
					
				}

				.ticket-counter-score, .ticket-btn {
					font-size: .75rem;
				}

				.ticket-btn {
					border: none;
					background: transparent;
					border-radius: .25rem;
					color: var(--light);
				}

				.ticket-btn:hover{
					background-color: var(--light);
					cursor: pointer;
				}


				.city {
					background-color: rgb(61, 83, 121);
					padding: .75rem;
					margin: .75rem 0rem;
				
					.arena  {
						font-size: .75rem;
					}

					.ticket {
						border: 1px solid red;
						flex-direction: row;
						flex: 1;
					}
				}
			}
			
		}
	}

	.resume-tour {
		display: flex;
		padding-top: 7.5rem;

		video {
			height: auto;
			width: 75%;
			
			margin: auto;

			display: block;
			object-fit: cover;
			object-position: center;
		}
	}

}


.first-tour-title {
	margin-top: 12rem;
	margin-bottom: 5rem;
}

.first-tour {
	display: flex;
	flex-direction: column;

	video {
		height: auto;
		width: 75%;
		
		margin: auto;

		display: block;
		object-fit: cover;
		object-position: center;
	}

	.first-tour-content {
		display: flex;
		flex: 1;
		flex-direction: row;
		justify-content: center;
		margin: 5rem 8rem;

		p {
			padding: .5rem;
		}
	}
}

.merchandising {
	height: 100vh;

	.merchandising-products {
		display: flex;
		padding-top: 3.5rem;

		.carousel {
			position: relative;
			width: calc(var(--carousel-width) * 3);
			margin: auto;
			overflow: hidden;
		}
		
		.slides {
			display: flex;
			transition: transform 0.5s ease-in-out;
		}
		
		.slide {
			width: var(--carousel-width);
			height: var(--carousel-height);
			flex-shrink: 0;
			text-align: center;
			font-size: 2rem;

			background-size: 90%;
			background-repeat: no-repeat;
			background-position: center;
		}
		
		.carousel input {
			display: none;
		}
		
		#slide1:checked ~ .slides {
			transform: translateX(calc(var(--carousel-width)*0));
		}
		
		#slide2:checked ~ .slides {
			transform: translateX(calc(var(--carousel-width)*-1));
		}
		
		#slide3:checked ~ .slides {
			transform: translateX(calc(var(--carousel-width)*-2));
		}

		#s1 {
				background-image: url(assets/img/product1.jpg);
		}
		
		#s2 {
				background-image: url(assets/img/product2.jpg);
		}
		
		#s3 {
				background-image: url(assets/img/product3.png);
		}
		
		#s4 {
				background-image: url(assets/img/product4.jpg);
		}
		
		#s5 {
				background-image: url(assets/img/product5.jpg);
		}
		
		.navigation {
			display: flex;
			justify-content: center;
			margin-top: 1rem;
		}
		
		.navigation label {
			width: 10px;
			height: 10px;
			margin: 0 5px;
			background: #ccc;
			border-radius: 50%;
			cursor: pointer;
			transition: background 0.3s;
		}
		
		input[type="radio"]:checked + label {
			background: #333;
		}
	}
}

/* ---------------------------------------- CONTACT --------------------------------------------- */

.contact {
	padding-top: 8rem;
	margin-bottom: 8rem;

	.contact-content {
		display: flex;
		flex-direction: column;
		width: 50%;
		margin: auto;

		.input-sm {
			height: 40px;
			margin: .75rem;
		}

		.input-lg {
			height: 100px;
			vertical-align: top;
			margin: .75rem;
		}
		
		textarea {
			font-family: inherit;
			resize: none;
		}

	}

	.contact-submit {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;

		
		.contact-privacy {
			display: flex;
			align-items: center;
			font-size: .75rem;

			input {
				margin-right: .5rem;
			}
		}

		button {
			float: right;
			height: 50px;
			width: 100px;
			text-transform: uppercase;
			font-size: .9rem;
		}
	}
}

/* ------------------------------------- FOOTER -------------------------------------------- */

.bg-photo {
	overflow-x: hidden;
	background-color: var(--footer-color);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	
	.footer-nav {
		margin-bottom: 2rem;
		display: flex;
		flex-direction: column;
		text-align: center;
		line-height: 3.5rem;
	}
	
	.brand {
		padding: 5rem 0 1.5rem 0;
	}
	
	li {
		text-transform: uppercase;
		list-style: none;
		
		a {
			text-decoration: none;
			color: var(--light);
		}
	}
}	
















@media screen and (max-width: 1300px) {
	header nav {
		flex: .15;

		ul {
				justify-content: center;
		}

		ul .menu-off {
			display: none;
		}

		.main-nav {
			justify-content: end;
		}

		.burguer {
			margin: 0;
			
			.burguer-img {
				height: 40px;
				width: 40px;
				background-image: url(assets/img/burguer.png);
				background-size: 100%;
				background-repeat: no-repeat;
				background-position: center;
			}

		}
	
	
	}

	.biography {

		.biography-part1 {
			flex-direction: column-reverse;
		
			.biography-content1 {
				margin: 0 3rem 3rem 5rem;
			}

			.biography-img1 {
				width: 75%;
				margin: auto;
			}
		}

		.biography-part2 {
			flex-direction: column;

			.biography-content2 {
				margin: 0 5rem 3rem 0;
			}

			.biography-img2 {
				width: 75%;
				margin: auto;
			}
		}
	}

	.albums {
		margin: 0;

		.magic2 {
			flex-direction: column;
			margin: auto;

			.albums-content {
				padding: 2rem 0;
			}
		}

		.magic, .lostfound, .mirrors {
			flex-direction: column;

			.card {
				margin: auto;
			}
			
			.albums-content {
				padding: 2rem 0;
			}
		}
	}

	.ontour {
		.tour {
			flex-direction: column;
			
			.magic2-tour {
				padding: 0;
				margin: auto;
			}

			.magic2-tour-content {
				padding: 4rem 0;
				margin: 0 6rem;
			}
		}

		.first-tour {
			.first-tour-content {
				margin: 2.5rem 5rem;
			}
		}
	}

	.merchandising {
		.merchandising-title {
			padding-top: 5rem;
		}

		.merchandising-products {
			.carousel {
				
			}
		}
	}

	.contact h2 {
		margin-bottom: 2rem;
	}
}


/* Lo estoy haciendo como si fuera para mi móvil pero en realidad son para 960px, si va bien tendré q hacer otra media screen más :D */

@media screen and (max-width: 960px) {
	header nav {
		flex: 1;

		border: 1px solid red;
	}
	
	header .branding {
		border: 1px solid red;
		flex: 5;
		.brand {
			font-size: 1.5rem;
		}

		.logo {
			width: 55px;
			height: 55px;
		}
	}
}